$bg-green-color: #4BDE95;
$bg-card-empty-color: linear-gradient(to right, #b0b0b0, #757575);
$bg-card-color-filled: linear-gradient(to right, #2626af, #0a0a5f);
$text-color-white: #fff;
$text-color-green: #4BDE95;
$icon-color-white: #fff;