/* CORES */ 
$bg-color-green: #4BDE95;
$bg-card-empty-color: linear-gradient(to right, #b0b0b0, #757575);
$bg-card-color-filled: linear-gradient(to right, #2626af, #0a0a5f);
$bg-color-white: #FFF;
$text-color-white: #fff;
$text-color-gray: #C6C6C6;
$text-color-green: #4BDE95;
$icon-color-white: #fff;


/* PADDING */ 
$padding: 1rem;
$pb: 1rem;
$pt: 1rem;
$pr: 1rem;
$pl: 1rem;
$py: 1rem 0;
$px: 0 1rem;

/* MARGIN */ 
$margin: 1rem;
$mb: 1rem;
$mt: 1rem;
$mr: 1rem;
$ml: 1rem;
$my: 1rem 0;
$mx: 0 1rem;

/* FONT WEITGH */ 
$font-medium: 500;
$font-thin: 100;

/* FONT SIZE */
$font-1: 1rem;
$font-2: 1.4rem;

