@use "./styles/mixins";
@use "./styles/variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-size: 12px;
    color: variables.$text-color-white;
}

button, input {
    border: 0;
    outline: 0;
}

input {
    background-color: transparent;
}

input {
    border-bottom: 1px solid variables.$text-color-gray;
}

input::placeholder {
    color: 1px solid variables.$text-color-gray;
}


button {
    cursor: pointer;
}

body, #root {
    width: 100vw;
    height: 100vh;
    background-color: #6b6a6a;
}

.container {
    @include mixins.container-mobile
}

.container__header, .container__aside {
    background-color: variables.$bg-color-green;
}

.card__info__content {
    background-color: variables.$bg-color-white;
}

@media (min-width: 800px) {
    .container {
        @include mixins.container-desktop
    }
}
