@use "./styles/mixins";
@use "./styles/variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body, #root {
    font-size: 12px;
    color: variables.$text-color-white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button, input {
    border: 0;
    outline: 0;
}

input {
    background-color: transparent;
}

input {
    border-bottom: 1px solid variables.$text-color-gray;
}

input::placeholder {
    color: 1px solid variables.$text-color-gray;
}


button {
    cursor: pointer;
}

body, #root {
    width: 100vw;
    height: 100vh;
    background-color: #6b6a6a;
    font-family: 'Roboto', sans-serif;
}

.container {
    @include mixins.container-mobile;
    position: relative;
}

.container__header, .container__aside {
    background-color: variables.$bg-color-green;
    padding: variables.$padding;
}

.card__info__content {
    background-color: variables.$bg-color-white;
}

@media (min-width: 800px) {
    .container {
        @include mixins.container-desktop;
        width: 900px;
        height: 500px;
    }
}
